
body{
    background: #7856F5;
}
.principal{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin:0 auto;
}

.encriptador{
    margin: 1%;
    order: 1;
    flex-basis: 70%;
}
.circulo{
    display: flex;
    width: 100px;
    height: 100px;
    margin-left:50%;
    background: #D9D9D9;
    margin:auto;
    border-radius: 100%;
    margin-bottom: 2%;
}
#logolian{
    margin: auto;
    height: 70%;
    width: 70%;
}
#input_encriptador{
    margin-right:2%;
    padding-top:5%;
    color:#fff;
    text-align:center;
    font-family:'Inter';
    font-style:normal;
    font-weight:bold;
    font-size:30px;
    margin-top: 2%;
    margin:0 auto;
    width:100%;
    height:auto;
    background:#4C379C;
    box-shadow:inset 0px 0px 42px 28px rgba(0, 0, 0, 0.25);
    border-radius:40px;
    border: none;
    outline: none;
}
#input_encriptador::placeholder{
    color:#21164e;
    text-align: center;
    font-family:'Inter';
    font-style:normal;
    font-weight:bold;
    font-size:40px;
}
.encriptador p{
    margin-top: 2%;
    margin-bottom: 3%;
    width: auto;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}


/*desencriptador*/

.desencriptador{
    flex-grow: 30%;
    position: relative;
    font-family: 'Inter';
    font-style:normal;
    font-weight:bold;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1%;
    background: #fff;
    order: 2;
    background: #7856F5;
    box-shadow: 0px 0px 39px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: none;
    text-align: center;
}
.desencriptador img{
    width: 100%;
    height:auto;
}
#resultado{
    padding: 0;
    margin:auto;
    padding-top:5%;
    visibility: hidden;
    position: absolute;
    resize: none;
    width:100%;
    height:80%;
    background: #7856F5;
    border-radius:20px;
    border: none;
    outline: none;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight:bold;
    font-size: 25px;
}
#p1{
    font-weight: bold;
    margin: 2% 10%;
    font-size: 30px;
    color: #fff;
}
#p2{
    margin: 2% 10%;
    font-weight: bold;
    font-size: 18px;
    text-align: center; 
    color: #000000;
}    

/* estilos botones*/

.botones_encriptador{
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 auto;
    justify-content: space-around;

}
#btn_copy{
    padding:0;
    margin:0 auto;
    justify-content: end;
}
#btn_encriptar,#btn_desencriptar,#btn_copy{
    font-family: 'Inter';
    font-style: normal;
    font-weight:bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;;
    width:40%;
    height: 67px;
    background: #7856F5;
    border: none;
    box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
#btn_encriptar:focus{
    color: #21164e;
    background: #7856F5;
    mix-blend-mode: normal;
    box-shadow: inset 0px 0px 23px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
#btn_desencriptar:focus{
    color: #21164e;
    background: #7856F5;
    mix-blend-mode: normal;
    box-shadow: inset 0px 0px 23px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
#btn_copy:focus{
    color: #21164e;
    background: #7856F5;
    mix-blend-mode: normal;
    box-shadow: inset 0px 0px 23px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

@media(max-width: 900px){
    .principal{
        display: flex;
        flex-flow:column;
        text-align: center;
    }
    .encriptador{
        margin:auto 2%;
    }
    .desencriptador{
        margin-top: 3%;
    }

}